<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/img/favicon.ico">

    <title>枫叶林</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" action="." method="post">{% csrf_token %}
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="input_email" class="sr-only">Email address</label>
        <input name="email" type="email" id="input_email" class="form-control" placeholder="Email address" required>
        <br>

        <label for="input_password" class="sr-only">Password</label>
        <input name="password" type="password" id="input_password" class="form-control" placeholder="Password" required>

        <label for="input_confirm_password" class="sr-only">Password</label>
        <input name="pwd_confirm" type="password" id="input_confirm_password" class="form-control" placeholder="Password again" required>

        {% comment %}<div class="checkbox mb-3">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>{% endcomment %}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</body>

</html>



